<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="/">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    {% load static %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'reguser/css_index.css' %}">
    <title>ipprotocol</title>
</head>
<script type="text/javascript">
  $(document).ready(function () {
      $("#ajax-text-me").click(function() {
          document.getElementById('changetext').innerHTML = 'Retrieving data...'
          var testConnectionSpeed = {
            imageAddr : "https://upload.wikimedia.org/wikipedia/commons/a/a6/Brandenburger_Tor_abends.jpg", // this is just an example, you rather want an image hosted on your server
            downloadSize : 2707459, // Must match the file above (from your server ideally)
            run:function(mbps_max,cb_gt,cb_lt){
              testConnectionSpeed.mbps_max = parseFloat(mbps_max) ? parseFloat(mbps_max) : 0;
              testConnectionSpeed.cb_gt = cb_gt;
              testConnectionSpeed.cb_lt = cb_lt;
              testConnectionSpeed.InitiateSpeedDetection();
            },
            InitiateSpeedDetection: function() {
              window.setTimeout(testConnectionSpeed.MeasureConnectionSpeed, 1);
            },
            result:function(){
              var duration = (endTime - startTime) / 1000;
              var bitsLoaded = testConnectionSpeed.downloadSize * 8;
              var speedBps = (bitsLoaded / duration).toFixed(2);
              var speedKbps = (speedBps / 1024).toFixed(2);
              var speedMbps = (speedKbps / 1024).toFixed(2);
              if(speedMbps >= (testConnectionSpeed.max_mbps ? testConnectionSpeed.max_mbps : 1) ){
                testConnectionSpeed.cb_gt ? testConnectionSpeed.cb_gt(speedMbps) : false;
              }else {
                testConnectionSpeed.cb_lt ? testConnectionSpeed.cb_lt(speedMbps) : false;
              }
            },
            MeasureConnectionSpeed:function() {
              var download = new Image();
              download.onload = function () {
                  endTime = (new Date()).getTime();
                  testConnectionSpeed.result();
              }
              startTime = (new Date()).getTime();
              var cacheBuster = "?nnn=" + startTime;
              download.src = testConnectionSpeed.imageAddr + cacheBuster;
            }
          }




          // start test immediatly, you could also call this on any event or whenever you want
          testConnectionSpeed.run(1.5, function(mbps){console.log(">= 1.5Mbps ("+mbps+"Mbps)")}, function(mbps){console.log("< 1.5Mbps("+mbps+"Mbps)")} )
          //document.getElementById('changetext').innerHTML = `Your download speed is ${measureConnectionSpeed()}`
          /*
          $.ajax({
              type: 'GET',
              async: true,
              url: '/ajax/',
              data: "param1=value1&param2=value2;",
              success: function(data) {
                document.getElementById('changetext').innerHTML = `Your download speed is: <span style="color: green;">${data['dl']}</span> Mbit/s and your upload speed is: <span style="color: purple;">${data['up']}</span> Mbit/s`
                /*
                <span style="color: red;">o</span>
                  $("#changetext").append(data['dl']);
                  $("#changetext").append(data['up']);
                

              },
              dataType: 'json',
          });
          */
      });
  });
</script>
<body>
    <nav class="navbar navbar-light bg-light">
       <form class="container-fluid justify-content-start">
            <a class="navbar-brand" onselectstart="return false" unselectable="on"><span unselectable="on" style="color:green">ip</span>protocol</a>
            <button class="btn btn-outline-success me-2" type="button">My IP</button>
            <a href="{% url 'statistics'%}" class="btn btn-sm btn-outline-secondary" role="button">Statistics</button></a>

        </form>
    </nav>
    
    <div class="container mx-auto" style="max-width:85%; margin-top: 80px;">
        <div class="row"style="border:1px solid white; margin-bottom:40px;">
            <div class="col" style="border:1px solid white;">
                <div class="card" style="padding: 0;">
                    <h5 class="card-title mx-auto" style="padding:0%; font-size: 80px;">{{ip}}</h5>
                    <div class="card-body text-center"style='font-size:30px'>You are using {{protocol}} protocol</div>
                </div>
              </div>
        </div>
        <div class="row"style="border:1px solid white; margin-bottom:40px;">
          <div class="col" style="border:1px solid white;">
              <div class="card" style="padding: 0;">
                  <h5 class="card-title mx-auto" id = 'changetext' style="padding:0%; font-size: 40px;">Test your connection speed</h5>
                  <button id ="ajax-text-me">bebra</button>
              </div>
            </div>
        </div>
        <div class="row"style="border:1px solid white; max-height: 100%">
          <div class="col" style="border:1px solid white; max-height: 100%; margin-right:10px;">
            <div class="card" style="padding: 0;" id="ajax-text-me">
                <h5 class="card-title mx-auto" style="padding:0%; font-size: 80px;">bebra left</h5>
                <div class="card-body text-center" style='font-size:30px'>Your download speed is {{dl}} your upload speed is {{up}}</div>
            </div>
          </div>
          <div class="col" style="border:1px solid white; max-height: 100%; margin-left:10px;">
            <div class="card" style="padding: 0;">
                <h5 class="card-title text-center" style="font-size: 55px; ">Information about your ISP</h5>
                <div class="card-body"style='font-size:20px'>
                <p>Provider: {{org}}</p>
                <p>ASN: {{asn}}</p>
                <p>Country: {{country_name}}</p>
                <p>City: {{city}}</p>
                </div>
            </div>
          </div>
        </div>
        
      </div>



</body>
</html>

<!--
<div class="card mx-auto" style="width: 85%; top: 50px;">
    <div class="card-body text-center">
      This is some text within a card body.
    </div>
</div>


<div class="card-deck mx-auto" style="top:150px; width:85%">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
-->